<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Skill</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2>
        <%= s.skill %>
    </h2>
    <form action="/skills/<%= s.id %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">Delete Skill</button>
    </form>
</body>

</html>